[submodule "frontend"]
	path = frontend
	url = https://github.com/HASSANI-ELMEHDI/InvoiceProcessing_frontend.git
[submodule "backend/model"]
	path = backend/model
	url = https://github.com/HASSANI-ELMEHDI/InvoiceProcessing_model.git
