[submodule "backend"]
	path = backend
	url = https://github.com/HASSANI-ELMEHDI/InvoiceProcessing_model.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/HASSANI-ELMEHDI/InvoiceProcessingApp_frontend-nextJS.git
