[submodule "backend/model"]
	path = backend/model
	url = https://github.com/HASSANI-ELMEHDI/InvoiceProcessing_model.git
[submodule "backend/services/data-extraction-service"]
	path = backend/services/data-extraction-service
	url = https://github.com/HASSANI-ELMEHDI/InvoiceProcessing_data-extraction-service.git
